a{
  text-decoration: none;
}
a : hover{
  cursor: pointer;
  text-decoration: none;
}
.form{
  position:absolute;
  right:1%;
  margin-right:-10px;
  margin-top:55px;
  z-index:999;
  width:250px;
}
.input{
  margin-top:5px;
}
.window{
  margin-top:0px;
  height:100%;
  width:102.2%;
  margin-right:-15px;
  margin-left: -15px;
  margin-top:0px;
}
.result{
  margin-top:0px;
  height:100%;
  width:100%;
  overflow: auto;
}
.menubar{
  position:absolute;

}
a{
    cursor: pointer;
}
a:hover{
  cursor: pointer;
}
#mapid{
  width:900px;
  height:500px;
}
.nav-class{
  background : black;
}
