<body>
  <div class="container">
  <form id="contact" class ="float-left" action="" method="post">
    <h3>Search Form</h3>
    <fieldset class="form-group">
      <input placeholder="Your name" class="form-control" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset class="form-group">
      <input placeholder="Your Email Address" class="form-control" type="email" tabindex="2" required>
    </fieldset>
    <fieldset class="form-group">
      <input placeholder="Your Phone Number (optional)" class="form-control" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset class="form-group">
      <input placeholder="Your Web Site (optional)" class="form-control" type="url" tabindex="4" required>
    </fieldset>
    <fieldset class="form-group">
      <textarea placeholder="Type your message here...." class="form-control" tabindex="5" required></textarea>
    </fieldset>
    <fieldset class="form-group">
      <button name="submit" type="submit" class="form-control" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
</div>



</body>
