.result{
  text-align: center;
  color:white;
  font-weight: bold;
  font-size: 1.5rem;
  width:200px;
  height:400px;
  float:left;
  margin-left:20px;
  margin-right:20px;
  margin-bottom: 20px;
  margin-top:35px;
  -webkit-box-shadow: 10px 10px 44px -2px rgba(237,133,237,0.99);
  -moz-box-shadow: 10px 10px 44px -2px rgba(237,133,237,0.99);
  box-shadow: 10px 10px 44px -2px rgba(237,133,237,0.99);
  border-radius:5px;
}
.card-area{
  margin-top:55px;
  float:left;
  overflow: auto;
  margin-left:9px;
  width:80%;
  height:63vh;
  right:5%;
}
