.result-data{
  text-align: center;
  width:200px;
  height:380px;
  float:left;
  margin:10px 10px;
  -webkit-box-shadow: 9px 11px 21px -1px rgba(0,0,0,0.76);
  -moz-box-shadow: 9px 11px 21px -1px rgba(0,0,0,0.76);
  box-shadow: 9px 11px 21px -1px rgba(0,0,0,0.76);
}
